<div id="wrapper">
<div class="normalheader">
   <div class="hpanel">
      <div class="panel-body no-shadow no-border">
         <a class="small-header-action" href="#">
            <div class="clip-header">
               <i class="fa fa-arrow-up"></i>
            </div>
         </a>
         <div id="hbreadcrumb" class="pull-right m-t-lg">
            <ol class="hbreadcrumb breadcrumb">
               <li><a href="#">Dashboard</a></li>
               <li class="active">
                  <span>Package</span>
               </li>
            </ol>
         </div>
         <h2 class="font-light m-b-xs">
            Package
         </h2>
         <small>devdap v.1.9 package contents</small>
      </div>
   </div>
</div>
<div class="content">
   <div class="row">
      <div class="col-lg-6">
         <div class="hpanel hgreen">
            <div class="panel-body">
               <h3>HTML/jQuery version</h3>
               <div class="text-muted font-bold m-b-xs">
                  <ul>
                     <li>Full version</li>
                     <li>Seed Project</li>
                  </ul>
               </div>
               <p>
                  This version contains all components and plugin created with strict HTML and jQuery. This version is great if you are a PHP, Ruby or JAVA programmer. As each page is created separately it allows you to quickly implement it for your project by including needed resources. The code is very clean and clear so you should not have any problems with its implementation.
               </p>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="hpanel hyellow">
            <div class="panel-body">
               <h3>ASP.NET MVC version</h3>
               <div class="text-muted font-bold m-b-xs">
                  <ul>
                     <li>MVC5 Full version</li>
                     <li>MVC5 Seed Project</li>
                     <li>MVC6 Full version</li>
                     <li>MVC6 Seed Project</li>
                  </ul>
               </div>
               <p>ASP.NET MVC is supported ASP.NET version of devdap theme. This version contains a ASP.NET MVC5 and ASP.NET Core 1.0 project written in Visual Studio for .net developers. Project has implemented all the plug-ins and it is created in accordance with the convention MVC - Razor engine. </p>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="hpanel hviolet">
            <div class="panel-body">
               <h3>AngularJS version</h3>
               <div class="text-muted font-bold m-b-xs">
                  <ul>
                     <li>Full version</li>
                     <li>Seed Project</li>
                  </ul>
               </div>
               <p>
                  Angular version is built with the latest technology contains well organized and coded controllers and directives written specifically to support angular framework (AngularJS 1.6.3) . Angular version is written with Opinionated AngularJS styleguide for teams. It is provided with full Grunt/Bower environment. In project folder you find also SeedProject. It is an application skeleton for a typical AngularJS web app.
               </p>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="hpanel hblue">
            <div class="panel-body">
               <h3>METEOR version</h3>
               <div class="text-muted font-bold m-b-xs">
                  <ul>
                     <li>Full version</li>
                     <li>Seed Project</li>
                  </ul>
               </div>
               <p>
                  This version contains Meteor project (METEOR@1.4.3.2) with all designs and components from devdap theme. Project is created in accordance with the convention of Meteor structure and Blaze templating. (Great for for discover Meteor framework.)
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <div class="hpanel hred">
            <div class="panel-body">
               <h3>LESS + SCSS + PSD</h3>
               <div class="text-muted font-bold m-b-xs">
                  <ul>
                     <li>LESS files (well organized by components, pages, plugins, and utilities)</li>
                     <li>SCSS files</li>
                     <li>PSD files - 37 files full layered</li>
                  </ul>
               </div>
               <p>
                  Project contains also css preprocessors files for LESS and SCSS. Additional we prepared 37 full layered .psd files for designer.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>