<div class="error-container">
         <i class="pe-7s-way text-primary big-icon"></i>
         <h1>500</h1>
         <strong>Internal Server Error</strong>
         <p>
            The server encountered something unexpected that didn't allow it to complete the request. We apologize.
         </p>
         <div class=back-link>
            <a id=animation-btn href=# class="btn btn-primary">Back to Home</a>
         </div>
      </div>