<div class="lock-container">
         <div>
            <div class="hpanel">
               <div class="panel-body text-center">
                  <i class="pe-7s-lock big-icon text-success"></i>
                  <br/>
                  <h4><span class="text-success">6:03:15 PM</span> <strong>Friday, February 27, 2019</strong></h4>
                  <p>Your are in lock screen. Main app was shut down and you need to enter your passwor to go back to app.</p>
                  <form action="#" role="form" class="m-t">
                     <div class="form-group">
                        <input type="password" required="" placeholder="******" class="form-control">
                     </div>
                    
                            <a id=animation-btn href=# class="btn btn-info">Unlock</a>
                     
                  </form>
               </div>
            </div>
         </div>
</div>